* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, .bold {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
    color: #333333;
    transition: all .2s ease-in-out;
}

.row {
    display: flex;
}

/*#region Header*/
.header {
    width: calc(100% - 20%);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 4;
    background-color: #fff;
    box-shadow: 0 0 5px #fafafa;
    height: 50px;
    padding-top: 10px;
    padding-right: 10%;
    padding-left: 10%;
    float: left;
}

    .header > a {
        float: left;
        color: #337ab7;
    }

h2.logo {
    font-weight: bold;
}

    h2.logo span {
        color: #07aaf5;
    }

.header ul.topmenu {
    list-style: none;
    float: right
}

.header .topmenu li {
    float: left;
    padding: 10px 10px;
}

    .header .topmenu li > a {
        font-size: 15px;
        position: relative;
        transition: 0.2s;
    }

        .header .topmenu li > a:after {
            content: "";
            height: 2px;
            width: 100%;
            background-color: #07aaf5;
            opacity: 0;
            position: absolute;
            bottom: -4px;
            left: 0;
            transition: 0.4s;
        }

        .header .topmenu li > a:hover {
            color: #07aaf5;
        }

            .header .topmenu li > a:hover:after {
                opacity: 1;
            }
/*#endregion header*/
/*#region banner*/
.banner {
    width: 100%;
    margin-top: 90px;
    margin-bottom: 10px;
    background-image: url(../image/banner-left-bg.png);
    background-repeat: no-repeat;
    background-position: bottom left;
}

    .banner .row {
        justify-content: space-between
    }

    .banner .banner-content .my-image {
        height: 130px;
        width: 130px;
        background: #dadce1 url('../image/MahyaYousefi.jpg');
        border-radius: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }

        .banner .banner-content .my-image:after {
            content: '';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background: #07aaf5 url('../image/mahya-icon.png') no-repeat;
            background-position: center center;
            position: absolute;
            bottom: -14px;
            right: 5px;
            border: 3px solid #fff;
        }

    .banner .banner-content {
        width: 50%;
        margin-top: 50px;
    }

        .banner .banner-content span {
            display: block;
            font-size: 2rem;
            color: #07aaf5;
            position: relative;
            top: 10px;
            margin-top: 15px;
        }

        .banner .banner-content h1 {
            font-size: 3rem;
            font-weight: bolder;
        }

        .banner .banner-content p {
            padding: 0;
            color: #777777;
            font-size: 2.2rem;
            font-weight: bold;
            margin-top: -8px;
        }

    .banner .img-content {
        position: relative;
    }

    .banner figure {
        background: url('../image/ipad.png') no-repeat;
        height: 500px;
        width: 100%;
        position: relative;
        background-position: center;
    }

        .banner figure img {
            display: block;
            max-width: 100%;
            position: absolute;
            right: 0;
            left: 0;
            margin: auto;
            top: 65px;
        }

        .banner figure::before {
            content: '';
            background: url(../image/banner-left-bg.png) no-repeat;
            height: 115px;
            width: 100px;
            position: absolute;
            top: 44%;
            z-index: 0;
            right: 26px;
        }

        .banner figure::after {
            content: '';
            background: url('../image/banner-center-bg.png') no-repeat;
            height: 115px;
            width: 218px;
            position: absolute;
            left: -95px;
            top: 44%;
            z-index: -1;
        }
/*#endregion banner*/

/*#region about*/
.about {
    width: 100%;
    background: #fafafa;
    float: left;
    padding-top: 90px;
    padding-bottom: 90px;
}

.p-content {
    width: 58.33333333%;
    float: left
}

/*.about .img-content {
    width: 50%;
}*/
.about .title {
    font-size: 2.5rem;
    position: relative;
    margin-bottom: 35px;
    width: 230px;
    z-index: 0;
}

    .about .title:before {
        content: '';
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background-color: #e9f4fa;
        display: inline-block;
        position: absolute;
        top: -10px;
        left: -25px;
        z-index: -1;
    }

.title span:after {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #07aaf5;
    display: inline-block;
    margin-right: 5px;
}

.about p {
    text-align: justify;
    color: #777777;
    line-height: 25px;
}

.span-content {
    display: flex;
    margin-top: 25px;
    flex-flow: wrap;
}

    .span-content span {
        margin-right: 25px;
        margin-bottom: 25px;
        height: 111px;
        width: 111px;
        background-color: #f6f5f5;
        float: right;
        text-align: center;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .span-content span:after {
            content: "";
            display: block;
            padding-bottom: 100px;
        }

    .span-content img {
        display: block;
        margin: auto;
        margin-top: 25px;
        margin-bottom: 10px
    }

    .span-content span:nth-child(2n) img {
        margin-top: 15px;
        margin-bottom: 7px;
    }

    .span-content small {
        color: #bbbbbb;
        font-size: 0.9rem;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

    .span-content span:hover {
        background-color: #fff;
        -webkit-box-shadow: -1px 5px 28px 2px rgb(230 229 229 / 75%);
        -moz-box-shadow: -1px 5px 28px 2px rgba(230,229,229,.75);
        box-shadow: -1px 5px 28px 2px rgb(230 229 229 / 75%);
    }

        .span-content span:hover small {
            color: #333333;
        }
/*#endregion about*/

/*#region service*/

.service {
    padding-top: 100px;
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

    .service .title {
        font-size: 2.5rem;
        width: 285px;
        margin: auto;
        position: relative;
        z-index: 0;
        margin-bottom: 60px;
    }

        .service .title:before {
            content: '';
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #e9f4fa;
            display: inline-block;
            position: absolute;
            top: -10px;
            left: -25px;
            z-index: -1;
        }

    .service .service-item.computer {
        border-bottom: 4px solid #f23492;
    }

    .service .title span:after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #07aaf5;
        display: inline-block;
        margin-right: 5px;
    }

    .service .service-item.building {
        border-bottom: 4px solid #59e96a;
    }

    .service .service-item {
        float: right;
        width: calc(100% - 25px);
        padding: 30px;
        margin-left: 15px;
        margin-right: 15px;
        border-bottom: 4px solid #32ddec;
        transition: all .2s ease-in-out;
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
    }

        .service .service-item:hover {
            -webkit-box-shadow: -5px 34px 28px 2px rgb(221 221 221 / 75%);
            -moz-box-shadow: -5px 34px 28px 2px rgba(221,221,221,.75);
            box-shadow: -5px 34px 28px 2px rgb(221 221 221 / 75%);
        }

        .service .service-item .icon {
            float: right;
            width: 100%;
            height: 50px;
            margin-bottom: 30px;
        }

        .service .service-item .title-item {
            float: right;
            width: 100%;
            font-weight: 900;
            font-size: 1.2rem;
            margin-bottom: 20px;
        }

        .service .service-item .description {
            margin-bottom: 30px;
            font-size: 1rem;
            color: #777777;
            line-height: 22px;
        }
/*#endregion service */

/*#region portfolio*/
.portfolio {
    width: 100%;
    background: #fafafa;
    margin-top: 100px;
    float: left;
    padding-bottom: 100px;
    padding-top: 80px;
}

    .portfolio .title {
        font-size: 2.5rem;
        position: relative;
        text-align: center;
        width: 215px;
        z-index: 1;
        margin: 0 auto 60px;
    }


        .portfolio .title:before {
            content: '';
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #e9f4fa;
            display: inline-block;
            position: absolute;
            top: -10px;
            left: -23px;
            z-index: -1;
        }

    .portfolio span:after {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #07aaf5;
        display: inline-block;
        margin-right: 5px;
    }



.portfolio-content {
    /*    background: red;*/
    width: 100%;
}

.portfolio a.portfolio-item {
    display: block;
    width: 31.333333333333%;
    float: left;
    /*   height: 235px;*/
    margin-right: 11px;
    margin-left: 11px;
    margin-bottom: 22px;
    overflow: hidden;
}
    /*
    .portfolio a.portfolio-item:nth-child(1) {
        height: 490px;
    }*/

    .portfolio a.portfolio-item:hover {
        box-shadow: 15px 15px 20px rgb(0 0 0 / 20%);
        -webkit-box-shadow: 15px 15px 20px rgb(0 0 0 / 20%);
        -moz-box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
    }

/*----------------portfolio-item-scroll--------------------*/
.portfolio .portfolio-item-scroll {
    float: left;
    width: 100%;
    height: 100%;
}

    .portfolio .portfolio-item-scroll figure {
        float: left;
        width: 100%;
        height: 490px;
        background: url('../image/ata724.png') no-repeat;
        margin-left: auto !important;
        margin-right: auto !important;
        transition: background-position 1s ease-out 0.5s;
        background-position: top center;
        background-size: 100% auto !important;
        position: relative;
    }

        .portfolio .portfolio-item-scroll figure:hover {
            background-position: bottom center !important;
            transition: background-position 5s linear 0s;
        }

        .portfolio .portfolio-item-scroll figure:after {
            content: '';
            background-color: rgba(240,240,248,.5);
            width: 100%;
            height: 490px;
            position: absolute;
            top: 0;
            right: 0;
        }
/*----------------End portfolio-item-scroll--------------------*/


.portfolio figure, .portfolio figure img {
    width: 100%;
    /*  height: 100%*/
}

/*#endregion portfolio*/

/*#region contact*/
.contact {
    width: 100%;
    float: left;
    margin-top: 90px;
    padding-bottom: 90px;
}

    .contact .title {
        font-size: 1.5rem;
        position: relative;
        text-align: center;
        width: 238px;
        margin: 10px auto 35px;
    }

        .contact .title h2:before {
            content: '';
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-color: #e9f4fa;
            display: inline-block;
            position: absolute;
            top: -10px;
            left: -23px;
            z-index: -1;
        }

        .contact .title span {
            margin-left: 10px;
        }

            .contact .title span:after {
                content: '';
                width: 10px;
                height: 10px;
                border-radius: 50%;
                background-color: #07aaf5;
                display: inline-block;
                margin-right: 5px;
            }

    .contact .contact-detail {
        width: 240px;
        margin: 0 auto 60px;
        padding: 25px 44px;
        -webkit-box-shadow: -3px 20px 28px 2px rgb(226 225 225 / 75%);
        -moz-box-shadow: -3px 20px 28px 2px rgba(226,225,225,.75);
        box-shadow: -3px 20px 28px 2px rgba(226,225,225,.75);
    }

        .contact .contact-detail .contact_icon {
            background: url('../image/email-icon.png') no-repeat;
            width: 32px;
            height: 38px;
            float: left;
            margin-right: 15px;
            margin-top: 5px;
        }

        .contact .contact-detail span {
            display: block;
            color: #777;
        }

            .contact .contact-detail span a {
                color: #777 !important;
            }

        .contact .contact-detail .emailitem-first {
            margin-bottom: 5px;
        }

    .contact form {
        display: flex;
        flex-wrap: wrap;
        justify-content: center
    }

    .contact input {
        background-color: #fafafa;
        padding: 13px 20px;
        margin-bottom: 25px;
        margin-left: 15px;
        margin-right: 15px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

        .contact input:nth-child(3) {
            width: 91%;
            padding: 15px;
        }

    .contact textarea {
        width: 91%;
        padding: 15px;
        background-color: #fafafa;
        margin-bottom: 25px;
        display: block;
        height: 250px;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    .contact input.send {
        cursor: pointer;
        width: 150px;
        display: block;
        font-size: 15px;
        line-height: 36px;
        color: #fff;
        text-align: center;
        font-weight: 700;
        border: 2px solid #0aaefa;
        background-color: #0aaefa;
        font-family: 'Roboto', sans-serif;
        padding: 0;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
        -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    }
/*#endregion contact*/

/*#region footer*/
.footer {
    background-color: #363642;
    width: calc(100% - 100);
    float: left;
    padding: 60px 50px 50px;
    text-align: center;
    width: calc(100% - 100px);
}


    .footer a.link-icon {
        display: inline-block;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        margin-left: 10px;
    }

    .footer .row {
        justify-content: center;
        flex-flow: wrap;
    }

    .footer a.emailbg {
        background: #464652 url('../image/instagram.png') no-repeat;
        background-position: center;
        background-size: 45%
    }

        .footer a.emailbg:hover {
            background: #2faaf1 url('../image/instagram-hover.png') no-repeat;
            background-position: center;
            background-size: 45%
        }

    .footer a.telegram {
        background: #464652 url(../image/fa-telegram.png) no-repeat;
        background-position: center;
        background-size: 21px 21px;
    }

        .footer a.telegram:hover {
            background: #2faaf1 url('../image/telegram-white-hover.png') no-repeat;
            background-position: center;
        }

    .footer a.linked-in {
        background: #464652 url('../image/fa-linkedin.png') no-repeat;
        background-position: center;
    }

        .footer a.linked-in:hover {
            background: #2faaf1 url('../image/fa-linkedin-hover.png') no-repeat;
            background-position: center;
        }




    .footer p, .footer p a {
        width: 100%;
        color: #888888 !important;
        font-size: 15px;
        margin-top: 15px;
        position: relative;
    }

        .footer p a:hover {
            color: white !important;
        }

            .footer p a:hover::after {
                content: '';
                height: 1px;
                width: 100%;
                background-color: white;
                position: absolute;
                left: 0;
                bottom: -4px;
            }
/*#endregion footer*/

/*#region Responsive*/
@media (min-width: 220px) {
    .container {
        width: 100%;
        margin: auto;
    }

    .banner .row, .about .row, .service .row {
        flex-flow: column;
        align-items: center;
    }

    .service .service-item {
        width: 50%;
        margin-bottom: 10px;
    }

    .portfolio a.portfolio-item {
        height: auto
    }

    .portfolio .portfolio-item-scroll figure {
        height: 100%;
    }

    .contact input {
        width: 89%;
    }


    .banner .img-content {
        width: 100%;
    }

    .banner .banner-content h1 {
        font-size: 2rem;
        font-weight: bolder;
    }

    .about .img-content, .p-content {
        width: 80%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 100%;
    }

    .banner .row, .about .row {
        flex-flow: row;
        align-items: unset;
        padding-left: 40px;
    }

    .service .row {
        flex-flow: row;
        align-items: unset;
    }

    .about .row {
        padding-right: 40px;
    }

    .service .service-item {
        margin-bottom: 0;
        width: 50%
    }

    .portfolio a.portfolio-item {
        height: 235px;
    }

        .portfolio a.portfolio-item:nth-child(1) {
            height: 235px;
        }

    .portfolio .portfolio-item-scroll figure {
        height: 235px;
    }

    .contact input {
        width: 42%;
    }

    .banner .img-content {
        width: 50%;
    }

    .banner .banner-content h1 {
        font-size: 3rem;
        font-weight: bolder;
    }

    .about .img-content, .p-content {
        width: 50%;
    }
}

@media (max-width: 1100px) {
    .portfolio-content {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }

    .banner .row, .about .row, .service .row {
        padding-left: 0px;
        padding-right: 0
    }

    .portfolio a.portfolio-item:nth-child(1) {
        height: 490px;
    }

    .portfolio .portfolio-item-scroll figure {
        height: 490px;
    }
}
/*#endregion Responsive*/
